In [3]:
import pandas as pd

In [4]:
!pwd

/root/IDL_Project/GNN_for_EHR/rawdata/mimic

In [14]:
patient_info = pd.read_csv("patient.csv")
patient_info.columns

Index(['Unnamed: 0', 'SUBJECT_ID', 'GENDER', 'EXPIRE_FLAG', 'HADM_ID',
       'ICUSTAY_ID', 'LOS', 'AGE', 'cohort', 'Obesity', 'Non.Adherence',
       'Developmental.Delay.Retardation', 'Advanced.Heart.Disease',
       'Advanced.Lung.Disease',
       'Schizophrenia.and.other.Psychiatric.Disorders', 'Alcohol.Abuse',
       'Other.Substance.Abuse', 'Chronic.Pain.Fibromyalgia',
       'Chronic.Neurological.Dystrophies', 'Advanced.Cancer', 'Depression',
       'Dementia', 'Unsure'],
      dtype='object')

In [15]:
len(patient_info)

1531

In [16]:
med_info = pd.read_csv("medication.csv")
med_info.columns

Index(['Unnamed: 0', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'NDC'], dtype='object')

In [17]:
len(med_info)

77721

In [23]:
len(med_info["HADM_ID"].unique())

1375

In [18]:
med_info.head(3)

   Unnamed: 0  SUBJECT_ID   HADM_ID  ICUSTAY_ID          NDC
0           0      9973.0  100020.0    282580.0  781710955.0
1           1      9973.0  100020.0    282580.0          0.0
2           2      9973.0  100020.0    282580.0  904565661.0

In [19]:
proc_info = pd.read_csv("procedure.csv")
proc_info.columns

Index(['Unnamed: 0', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'ICD9_CODE'], dtype='object')

In [20]:
proc_info.head(3)

   Unnamed: 0  SUBJECT_ID  HADM_ID  ICUSTAY_ID  ICD9_CODE
0           0        3365   100103      200434       3523
1           1        3365   100103      200434       3615
2           2        3365   100103      200434       3611

In [24]:
len(proc_info["HADM_ID"].unique())

1334

In [21]:
len(proc_info)

6553

In [5]:
lab = pd.read_csv("lab_final.csv")
lab.columns

Index(['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CHART_ITEMID',
       'CHART_VALUENUM'],
      dtype='object')

In [6]:
lab.head(3)

   SUBJECT_ID  HADM_ID  ICUSTAY_ID  CHART_ITEMID  CHART_VALUENUM
0         154   102354      201272      220180.0            62.0
1         154   102354      201272      220181.0            72.0
2         154   102354      201272      220045.0            74.0

In [7]:
len(lab["HADM_ID"].unique())

1478

In [8]:
len(lab["CHART_ITEMID"].unique())

1044