In [1]:
import numpy as np
import pandas as pd
import math
import random
import matplotlib.pyplot as plt

In [2]:
d = pd.read_csv("MIMIC.csv")
d

,Unnamed: 0,PATIENT_KEY,AGE,GENDER,OBESITY,Procedures_ICD9_Features,Medication_NDC_Features,Lab_Chart_Features,y_Expired,y_Non.Adherence,...,y_Advanced.Heart.Disease,y_Advanced.Lung.Disease,y_Schizophrenia.and.other.Psychiatric.Disorders,y_Alcohol.Abuse,y_Other.Substance.Abuse,y_Chronic.Pain.Fibromyalgia,y_Chronic.Neurological.Dystrophies,y_Advanced.Cancer,y_Depression,y_Dementia
0,0,3365_100103_200434,72,1,0,"[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, ...",[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,27290_100137_212691,82,0,0,"[0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...","[1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2,5525_100473_257484,65,0,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, ...",[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,1,0,...,0,0,0,0,0,0,0,0,0,0
3,3,41515_100485_215665,62,1,0,"[1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,0,0,...,0,0,1,0,0,0,0,0,1,0
4,4,78_100536_233150,49,0,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, ...",[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,1,0,...,0,0,0,1,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1201,1201,2185_199576_223023,78,0,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, ...",[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,1,0,...,0,0,0,0,0,0,0,0,0,0
1202,1202,6833_199652_250589,52,1,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...","[1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, ...",[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,0,0,...,0,0,0,0,0,0,0,1,1,0
1203,1203,23549_199807_212087,74,1,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...","[1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, ...",[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,1,0,...,1,1,0,0,0,0,0,0,0,0
1204,1204,8772_199828_215516,69,0,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, ...",[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,1,0,...,0,1,0,1,0,0,1,0,0,1
1205,1205,40370_199999_211153,89,0,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,0,0,...,0,0,0,0,0,0,0,0,0,0

In [246]:
thresholds = dict()
thresholds['procedures_icd9'] = 10
thresholds['medication_ndc'] = 50
thresholds['lab_org'] = 0
thresholds['lab_ab'] = 0
thresholds['lab_chart'] = 10
thresholds['lab_chart_final'] = 0

In [247]:
def get_reindexed(df, column, threshold):
    
    mapping = dict()
    counts = dict()
    for i in range(len(df)):
        if(df[column][i] not in counts):
            counts[df[column][i]] = 0
        else:
            counts[df[column][i]] +=1
    for i in range(len(df)):
        if((df[column][i] not in mapping) and (counts[df[column][i]]>=threshold)):
            mapping[df[column][i]] = len(mapping)
    counts = dict(sorted(counts.items(), key=lambda item: item[1]))
    print("CURRENT LENGTH IS:", len(mapping))
    print("TOTAL LENGTH WOULD HAVE BEEN:", len(counts))
    return mapping, counts

## PATIENTS

In [248]:
patient_df = pd.read_csv("data/Raw/patient.csv").drop(columns=["Unnamed: 0", 'LOS', 'cohort', 'Unsure'], axis=1)
patient_df.head()

,SUBJECT_ID,GENDER,EXPIRE_FLAG,HADM_ID,ICUSTAY_ID,AGE,Obesity,Non.Adherence,Developmental.Delay.Retardation,Advanced.Heart.Disease,Advanced.Lung.Disease,Schizophrenia.and.other.Psychiatric.Disorders,Alcohol.Abuse,Other.Substance.Abuse,Chronic.Pain.Fibromyalgia,Chronic.Neurological.Dystrophies,Advanced.Cancer,Depression,Dementia
0,9973,M,1,100020,282580,58,0,0,0,0,0,0,0,0,1,1,0,0,0
1,3365,F,0,100103,200434,72,0,0,0,0,0,0,0,0,0,0,0,0,0
2,27290,M,1,100137,212691,82,0,0,0,0,0,0,0,0,0,0,0,0,0
3,9882,M,0,100177,251800,55,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5525,M,1,100473,257484,65,1,0,0,0,0,0,0,0,0,0,0,0,0

In [212]:
gender_mapping = {'M': 0, 'F': 1}
patient_df['GENDER'] = patient_df['GENDER'].map(gender_mapping)
patient_df.head()

,SUBJECT_ID,GENDER,EXPIRE_FLAG,HADM_ID,ICUSTAY_ID,AGE,Obesity,Non.Adherence,Developmental.Delay.Retardation,Advanced.Heart.Disease,Advanced.Lung.Disease,Schizophrenia.and.other.Psychiatric.Disorders,Alcohol.Abuse,Other.Substance.Abuse,Chronic.Pain.Fibromyalgia,Chronic.Neurological.Dystrophies,Advanced.Cancer,Depression,Dementia
0,9973,0,1,100020,282580,58,0,0,0,0,0,0,0,0,1,1,0,0,0
1,3365,1,0,100103,200434,72,0,0,0,0,0,0,0,0,0,0,0,0,0
2,27290,0,1,100137,212691,82,0,0,0,0,0,0,0,0,0,0,0,0,0
3,9882,0,0,100177,251800,55,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5525,0,1,100473,257484,65,1,0,0,0,0,0,0,0,0,0,0,0,0

## PROCEDURES

In [249]:
procedure_df = pd.read_csv("data/Raw/procedure.csv").drop("Unnamed: 0", axis=1)
procedure_df.head()

   SUBJECT_ID  HADM_ID  ICUSTAY_ID  ICD9_CODE
0        3365   100103      200434       3523
1        3365   100103      200434       3615
2        3365   100103      200434       3611
3        3365   100103      200434       3961
4        3365   100103      200434       8968

In [125]:
icd9_codes_mapping, icd9_codes_counts = get_reindexed(procedure_df, 'ICD9_CODE', thresholds['procedures_icd9'])

CURRENT LENGTH IS: 93
TOTAL LENGTH WOULD HAVE BEEN: 591

In [126]:
procedure_grouped_df = procedure_df.groupby(['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'])['ICD9_CODE'].agg(list).reset_index()
procedure_grouped_df['ICD9_FEATURES'] = None

for i in range(len(procedure_grouped_df)):
    feature_vec = np.zeros(len(icd9_codes_mapping), dtype=int)
    codes = list(set(procedure_grouped_df["ICD9_CODE"][i]))
    for code in codes:
        if(icd9_codes_counts[code]>=thresholds['procedures_icd9']):
            index = icd9_codes_mapping[code]
            feature_vec[index] = 1
    procedure_grouped_df['ICD9_FEATURES'][i] = list(feature_vec)
print(len(procedure_grouped_df))
procedure_grouped_df.head()

1334

/var/folders/bz/v6phd44n7c75v1c0qw9f2n780000gn/T/ipykernel_55903/3755960811.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  procedure_grouped_df['ICD9_FEATURES'][i] = list(feature_vec)

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ICD9_CODE,ICD9_FEATURES
0,78,100536,233150,[331],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,109,164029,290868,[3995],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,154,102354,201272,[8856],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ..."
3,154,162891,250579,"[3614, 3615, 3961, 8872, 8856, 8853]","[1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ..."
4,188,123860,213646,"[9671, 5491, 3893]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ..."

In [127]:
index = 4
lista = []
listb = []
for i in range(len(procedure_grouped_df['ICD9_FEATURES'][index])):
    if(procedure_grouped_df['ICD9_FEATURES'][index][i]==1):
        lista.append(i)

for key in procedure_grouped_df['ICD9_CODE'][index]:
    if(key in icd9_codes_mapping):
        listb.append(icd9_codes_mapping[key])
        
print(lista)
print(listb)
print(set(lista)==set(listb))

[13, 28, 30]
[30, 28, 13]
True

## MEDICATION

In [250]:
med_df = pd.read_csv("data/Raw/medication.csv").drop("Unnamed: 0", axis=1).fillna(0).astype(int)
med_df.head()

   SUBJECT_ID  HADM_ID  ICUSTAY_ID        NDC
0        9973   100020      282580  781710955
1        9973   100020      282580          0
2        9973   100020      282580  904565661
3        9973   100020      282580  574705050
4        9973   100020      282580  182853489

In [129]:
ndc_mapping, ndc_counts = get_reindexed(med_df, 'NDC', thresholds['medication_ndc'])

CURRENT LENGTH IS: 277
TOTAL LENGTH WOULD HAVE BEEN: 2041

In [130]:
med_grouped_df = med_df.groupby(['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'])['NDC'].agg(list).reset_index()
med_grouped_df['NDC_FEATURES'] = None

for i in range(len(med_grouped_df)):
    feature_vec = np.zeros(len(ndc_mapping), dtype=int)
    codes = list(set(med_grouped_df["NDC"][i]))
    for code in codes:
        if(ndc_counts[code]>=thresholds['medication_ndc']):
            index = ndc_mapping[code]
            feature_vec[index] = 1
    med_grouped_df['NDC_FEATURES'][i] = list(feature_vec)
print(len(med_grouped_df))
med_grouped_df.head()

1375

/var/folders/bz/v6phd44n7c75v1c0qw9f2n780000gn/T/ipykernel_55903/3804532634.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  med_grouped_df['NDC_FEATURES'][i] = list(feature_vec)

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,NDC,NDC_FEATURES
0,78,100536,233150,"[63323018410, 338040360, 63323001302, 0, 74407...","[1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, ..."
1,109,164029,290868,"[182845389, 51079029920, 172376010, 182845389,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,154,102354,201272,"[10019017644, 51079025520, 51079098320, 0, 338...","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,188,123860,213646,"[0, 338355248, 409490234, 0, 8092355, 33835524...","[1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,188,150463,255726,"[85036207, 338008904, 85036207, 74131230, 7413...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [131]:
index = 2
lista = []
listb = []
for i in range(len(med_grouped_df['NDC_FEATURES'][index])):
    if(med_grouped_df['NDC_FEATURES'][index][i]==1):
        lista.append(i)

for key in med_grouped_df['NDC'][index]:
    if(key in ndc_mapping):
        listb.append(ndc_mapping[key])
        
print(lista)
print(listb)
print(set(lista)==set(listb))

[0, 1, 31, 40, 47, 56, 109, 128, 171, 204]
[31, 0, 109, 40, 31, 171, 47, 128, 204, 56, 1, 204, 47, 0]
True

## LAB

In [196]:
lab_df = pd.read_csv("data/Raw/lab.csv")
subjects = list(set(list(lab_df['HADM_ID'])))
print(len(subjects))

63

In [197]:
lab_df = pd.read_csv("lab.csv").drop(columns=['CHART_VALUE','GENDER',
       'EXPIRE_FLAG', 'LOS', 'AGE', 'cohort', 'Obesity', 'Non.Adherence',
       'Developmental.Delay.Retardation', 'Advanced.Heart.Disease',
       'Advanced.Lung.Disease',
       'Schizophrenia.and.other.Psychiatric.Disorders', 'Alcohol.Abuse',
       'Other.Substance.Abuse', 'Chronic.Pain.Fibromyalgia',
       'Chronic.Neurological.Dystrophies', 'Advanced.Cancer', 'Depression',
       'Dementia', 'Unsure'], axis=1).astype(int).drop_duplicates().reset_index().drop(columns=['index'],axis=1)
print(len(lab_df))
lab_df.head()

330642

,SUBJECT_ID,HADM_ID,ORG_ITEMID,AB_ITEMID,ICUSTAY_ID,CHART_ITEMID,CHART_VALUENUM
0,422,117029,80023,90016,299666,220180,57
1,422,117029,80023,90016,299666,220181,66
2,422,117029,80023,90016,299666,220210,22
3,422,117029,80023,90016,299666,220277,92
4,422,117029,80023,90016,299666,220277,96

In [198]:
unique_org = set(list(lab_df['ORG_ITEMID']))
unique_ab = set(list(lab_df['AB_ITEMID']))
unique_chart = set(list(lab_df['CHART_ITEMID']))
print(len(unique_org), len(unique_ab), len(unique_chart))

16 28 235

In [199]:
org_mapping, org_counts = get_reindexed(lab_df, 'ORG_ITEMID', thresholds['lab_org'])
ab_mapping, ab_counts = get_reindexed(lab_df, 'AB_ITEMID', thresholds['lab_ab'])

CURRENT LENGTH IS: 16
TOTAL LENGTH WOULD HAVE BEEN: 16
CURRENT LENGTH IS: 28
TOTAL LENGTH WOULD HAVE BEEN: 28

#### Dropping ORG_ITEMID, AB_ITEMID

In [231]:
lab_df = pd.read_csv("lab.csv").drop(columns=['ORG_ITEMID', 'AB_ITEMID', 'CHART_VALUE','GENDER',
       'EXPIRE_FLAG', 'LOS', 'AGE', 'cohort', 'Obesity', 'Non.Adherence',
       'Developmental.Delay.Retardation', 'Advanced.Heart.Disease',
       'Advanced.Lung.Disease',
       'Schizophrenia.and.other.Psychiatric.Disorders', 'Alcohol.Abuse',
       'Other.Substance.Abuse', 'Chronic.Pain.Fibromyalgia',
       'Chronic.Neurological.Dystrophies', 'Advanced.Cancer', 'Depression',
       'Dementia', 'Unsure'], axis=1).astype(int).drop_duplicates().reset_index().drop(columns=['index'],axis=1)
print(len(lab_df))
lab_df.head()

21406

   SUBJECT_ID  HADM_ID  ICUSTAY_ID  CHART_ITEMID  CHART_VALUENUM
0         422   117029      299666        220180              57
1         422   117029      299666        220181              66
2         422   117029      299666        220210              22
3         422   117029      299666        220277              92
4         422   117029      299666        220277              96

In [232]:
chart_mapping, chart_counts = get_reindexed(lab_df, 'CHART_ITEMID', thresholds['lab_chart'])

CURRENT LENGTH IS: 139
TOTAL LENGTH WOULD HAVE BEEN: 235

In [233]:
chart_items = dict()
chart_items_mean = dict()
chart_items_std = dict()

for i in range(len(lab_df)):
    itemid = lab_df["CHART_ITEMID"][i]
    if(itemid not in chart_mapping):
        continue
    else:
        if(itemid not in chart_items):
            chart_items[itemid] = []
        chart_items[itemid].append(lab_df["CHART_VALUENUM"][i])
        
for item in chart_items:
    chart_items_mean[item] = np.mean(np.array(chart_items[item]))
    chart_items_std[item]  = np.std(np.array(chart_items[item]))
    
print(len(chart_items), len(chart_items_mean), len(chart_items_std))
print(chart_items_mean[220181], chart_items_std[220181])

139 139 139
72.36468885672937 18.030609863569484

In [234]:
lab_df['CHART'] = None
for i in range(len(lab_df)):
    itemid = lab_df["CHART_ITEMID"][i]
    if(itemid not in chart_mapping):
        continue
    else:
        value = lab_df["CHART_VALUENUM"][i]
        mean = chart_items_mean[itemid]
        std = chart_items_std[itemid]
        if(value > (mean+std)):
            lab_df['CHART'][i] = str(itemid)+":HIGH"
        elif(value < (mean-std)):
            lab_df['CHART'][i] = str(itemid)+":LOW"
        else:
            lab_df['CHART'][i] = str(itemid)+":MED"
print(len(lab_df))
lab_df.head()

21406

/var/folders/bz/v6phd44n7c75v1c0qw9f2n780000gn/T/ipykernel_55903/2563356312.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lab_df['CHART'][i] = str(itemid)+":MED"
/var/folders/bz/v6phd44n7c75v1c0qw9f2n780000gn/T/ipykernel_55903/2563356312.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lab_df['CHART'][i] = str(itemid)+":HIGH"
/var/folders/bz/v6phd44n7c75v1c0qw9f2n780000gn/T/ipykernel_55903/2563356312.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lab_df['CHART'][i] = str(itemid)+":LOW"

   SUBJECT_ID  HADM_ID  ICUSTAY_ID  CHART_ITEMID  CHART_VALUENUM       CHART
0         422   117029      299666        220180              57  220180:MED
1         422   117029      299666        220181              66  220181:MED
2         422   117029      299666        220210              22  220210:MED
3         422   117029      299666        220277              92  220277:MED
4         422   117029      299666        220277              96  220277:MED

In [235]:
lab_df = lab_df.dropna(subset=['CHART']).reset_index().drop(columns=['index','CHART_ITEMID', 'CHART_VALUENUM'], axis=1)
print(len(lab_df))
lab_df.head()

21102

   SUBJECT_ID  HADM_ID  ICUSTAY_ID       CHART
0         422   117029      299666  220180:MED
1         422   117029      299666  220181:MED
2         422   117029      299666  220210:MED
3         422   117029      299666  220277:MED
4         422   117029      299666  220277:MED

In [236]:
chart_final_mapping, chart_final_counts = get_reindexed(lab_df, 'CHART', thresholds['lab_chart_final'])

CURRENT LENGTH IS: 371
TOTAL LENGTH WOULD HAVE BEEN: 371

In [237]:
lab_grouped_df = lab_df.groupby(['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'])['CHART'].agg(list).reset_index()
lab_grouped_df['CHART_FEATURES'] = None

for i in range(len(lab_grouped_df)):
    feature_vec = np.zeros(len(chart_final_mapping), dtype=int)
    codes = list(set(lab_grouped_df["CHART"][i]))
    for code in codes:
        if(chart_final_counts[code]>=thresholds['lab_chart_final']):
            index = chart_final_mapping[code]
            feature_vec[index] = 1
    lab_grouped_df['CHART_FEATURES'][i] = list(feature_vec)
print(len(lab_grouped_df))
lab_grouped_df.head()

63

/var/folders/bz/v6phd44n7c75v1c0qw9f2n780000gn/T/ipykernel_55903/2755167790.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lab_grouped_df['CHART_FEATURES'][i] = list(feature_vec)

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHART,CHART_FEATURES
0,422,117029,299666,"[220180:MED, 220181:MED, 220210:MED, 220277:ME...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1,605,115545,248569,"[223835:MED, 223873:MED, 223874:MED, 223875:ME...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
2,773,170261,213086,"[225677:MED, 227073:MED, 227442:MED, 227443:ME...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,1197,102607,211766,"[220179:MED, 220180:MED, 220181:MED, 220210:LO...","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,1339,127888,221620,"[220293:MED, 220339:MED, 223761:MED, 223835:ME...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [238]:
index = 2
lista = []
listb = []
for i in range(len(lab_grouped_df['CHART_FEATURES'][index])):
    if(lab_grouped_df['CHART_FEATURES'][index][i]==1):
        lista.append(i)

for key in lab_grouped_df['CHART'][index]:
    if(key in chart_final_mapping):
        listb.append(chart_final_mapping[key])
        
print(lista)
print(listb)
print(set(lista)==set(listb))

[27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 61, 62, 63, 65, 66, 72, 73, 74, 75, 76, 77, 78, 81, 82, 86, 87, 88, 89, 93, 94, 98, 109, 111, 112, 113, 115, 119, 121, 134, 149, 150, 151, 152, 154, 156, 159, 161, 171, 172, 186, 199, 200, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226]
[34, 35, 36, 159, 202, 186, 72, 171, 28, 29, 30, 172, 203, 33, 204, 35, 159, 205, 75, 76, 77, 206, 66, 78, 63, 81, 82, 186, 72, 74, 61, 72, 207, 86, 27, 29, 87, 30, 88, 31, 89, 32, 33, 208, 34, 121, 73, 94, 161, 74, 75, 77, 61, 78, 81, 82, 209, 98, 151, 210, 27, 29, 87, 88, 31, 89, 32, 33, 211, 212, 111, 112, 213, 199, 214, 121, 35, 159, 74, 75, 149, 61, 81, 82, 61, 78, 81, 82, 72, 215, 112, 213, 214, 74, 72, 86, 29, 87, 88, 31, 89, 203, 215, 212, 213, 199, 214, 35, 159, 75, 149, 61, 78, 81, 65, 61, 152, 72, 207, 27, 28, 29, 87, 31, 89, 32, 208, 121, 161, 76, 186, 151, 152, 72, 27, 29, 87, 31, 32, 74, 152, 61, 109, 78, 210, 216, 86, 27, 29, 87, 88, 31, 89, 203, 112, 213, 214, 208, 159, 75, 149, 149, 61, 78, 81, 82, 206, 61, 78, 81, 82, 78, 82, 151, 152, 210, 86, 29, 87, 61, 109, 78, 81, 150, 156, 134, 61, 109, 78, 61, 72, 86, 87, 89, 32, 86, 29, 87, 88, 89, 203, 213, 214, 121, 200, 149, 210, 205, 29, 87, 88, 74, 76, 152, 72, 86, 29, 87, 89, 73, 74, 151, 152, 29, 34, 86, 31, 89, 203, 199, 214, 204, 35, 159, 205, 210, 86, 27, 87, 31, 199, 214, 35, 217, 205, 149, 81, 207, 86, 28, 87, 88, 31, 203, 211, 213, 205, 75, 149, 119, 82, 87, 134, 119, 72, 205, 76, 61, 109, 205, 171, 29, 87, 88, 31, 89, 203, 213, 214, 27, 29, 87, 89, 32, 74, 152, 72, 27, 31, 74, 61, 61, 78, 86, 29, 87, 89, 203, 215, 208, 205, 149, 61, 82, 61, 210, 207, 86, 29, 87, 31, 89, 203, 211, 208, 200, 205, 149, 159, 76, 134, 61, 81, 218, 72, 86, 29, 87, 31, 89, 219, 214, 159, 200, 205, 76, 86, 29, 87, 89, 159, 119, 61, 93, 78, 75, 76, 205, 76, 76, 61, 82, 171, 172, 82, 61, 78, 210, 29, 87, 88, 89, 32, 220, 113, 199, 115, 154, 203, 200, 205, 76, 213, 214, 205, 76, 200, 76, 86, 29, 87, 172, 212, 213, 214, 121, 75, 171, 29, 203, 74, 76, 61, 62, 119, 61, 76, 221, 61, 222, 134, 223, 224, 225, 226, 29, 87, 89, 32, 74, 76, 61, 82, 61]
True

## MERGING ALL 4

In [239]:
encounter_dict = dict()
procedure_found = 0
med_found = 0
lab_found = 0
deleted = 0

for i in range(len(patient_df)): 
    
    procedure_flag = 0
    med_flag = 0
    lab_flag = 0
    
    subjid = patient_df["SUBJECT_ID"][i]
    hadmid = patient_df["HADM_ID"][i]
    icustayid = patient_df["ICUSTAY_ID"][i]
    
    key = str(subjid) + "_" + str(hadmid) + "_" + str(icustayid)
    encounter_dict[key] = dict()
    
    encounter_dict[key]["AGE"] = patient_df["AGE"][i]
    encounter_dict[key]["GENDER"] = patient_df["GENDER"][i]
    encounter_dict[key]["OBESITY"] = patient_df["Obesity"][i]
    
    encounter_dict[key]['Procedures_ICD9_Features'] = np.zeros(len(icd9_codes_mapping), dtype=int)
    encounter_dict[key]['Medication_NDC_Features'] = np.zeros(len(ndc_mapping), dtype=int)
    encounter_dict[key]['Lab_Chart_Features'] = np.zeros(len(chart_final_mapping), dtype=int)
    
    encounter_dict[key]['y_Expired'] = patient_df["EXPIRE_FLAG"][i]
    encounter_dict[key]['y_Non.Adherence'] = patient_df["Non.Adherence"][i]
    encounter_dict[key]['y_Developmental.Delay.Retardation'] = patient_df["Developmental.Delay.Retardation"][i]
    encounter_dict[key]['y_Advanced.Heart.Disease'] = patient_df["Advanced.Heart.Disease"][i]
    encounter_dict[key]['y_Advanced.Lung.Disease'] = patient_df["Advanced.Lung.Disease"][i]
    encounter_dict[key]['y_Schizophrenia.and.other.Psychiatric.Disorders'] = patient_df["Schizophrenia.and.other.Psychiatric.Disorders"][i]
    encounter_dict[key]['y_Alcohol.Abuse'] = patient_df["Alcohol.Abuse"][i]
    encounter_dict[key]['y_Other.Substance.Abuse'] = patient_df["Other.Substance.Abuse"][i]
    encounter_dict[key]['y_Chronic.Pain.Fibromyalgia'] = patient_df["Chronic.Pain.Fibromyalgia"][i]
    encounter_dict[key]['y_Chronic.Neurological.Dystrophies'] = patient_df["Chronic.Neurological.Dystrophies"][i]
    encounter_dict[key]['y_Advanced.Cancer'] = patient_df["Advanced.Cancer"][i]
    encounter_dict[key]['y_Depression'] = patient_df["Depression"][i]
    encounter_dict[key]['y_Dementia'] = patient_df["Dementia"][i]
    
    for j in range(len(procedure_grouped_df)):
        if((procedure_grouped_df['SUBJECT_ID'][j]==subjid) and (procedure_grouped_df['HADM_ID'][j]==hadmid)
           and (procedure_grouped_df['ICUSTAY_ID'][j]==icustayid)):
            encounter_dict[key]['Procedures_ICD9_Features'] = procedure_grouped_df['ICD9_FEATURES'][j]
            procedure_found+=1
            procedure_flag = 1
            
    for j in range(len(med_grouped_df)):
        if((med_grouped_df['SUBJECT_ID'][j]==subjid) and (med_grouped_df['HADM_ID'][j]==hadmid)
           and (med_grouped_df['ICUSTAY_ID'][j]==icustayid)):
            encounter_dict[key]['Medication_NDC_Features'] = med_grouped_df['NDC_FEATURES'][j]
            med_found+=1
            med_flag= 1
            
    for j in range(len(lab_grouped_df)):
        if((lab_grouped_df['SUBJECT_ID'][j]==subjid) and (lab_grouped_df['HADM_ID'][j]==hadmid)
           and (lab_grouped_df['ICUSTAY_ID'][j]==icustayid)):
            encounter_dict[key]['Lab_Chart_Features'] = np.array(lab_grouped_df['CHART_FEATURES'][j], dtype=int)
            lab_found+=1
            lab_flag = 1
            
    if((procedure_flag+med_flag+lab_flag) < 2):
        deleted +=1
        del encounter_dict[key]
        
# for i in encounter_dict:
#     print(len(encounter_dict[i]['Lab_Chart_Features']))
            
print(procedure_found, med_found, lab_found)
print(len(encounter_dict))

1334 1375 63
1206

In [240]:
mimic = pd.DataFrame(encounter_dict).T
print(len(mimic))
print(len(mimic.columns))
mimic['PATIENT_KEY'] = mimic.index
mimic = mimic[['PATIENT_KEY'] + [col for col in mimic.columns if col != 'PATIENT_KEY']]
mimic.reset_index(drop=True, inplace=True)
mimic.head()

1206
19

,PATIENT_KEY,AGE,GENDER,OBESITY,Procedures_ICD9_Features,Medication_NDC_Features,Lab_Chart_Features,y_Expired,y_Non.Adherence,y_Developmental.Delay.Retardation,y_Advanced.Heart.Disease,y_Advanced.Lung.Disease,y_Schizophrenia.and.other.Psychiatric.Disorders,y_Alcohol.Abuse,y_Other.Substance.Abuse,y_Chronic.Pain.Fibromyalgia,y_Chronic.Neurological.Dystrophies,y_Advanced.Cancer,y_Depression,y_Dementia
0,3365_100103_200434,72,1,0,"[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0,0,0,0,0,0,0,0,0,0,0,0
1,27290_100137_212691,82,0,0,"[0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...","[1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,0,0,0,0,0,0,0,0,0,0,0,0
2,5525_100473_257484,65,0,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,0,0,0,0,0,0,0,0,0,0,0,0
3,41515_100485_215665,62,1,0,"[1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0,0,0,0,1,0,0,0,0,0,1,0
4,78_100536_233150,49,0,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,0,0,0,0,0,1,1,1,0,0,1,0

In [241]:
mimic.to_csv("data/Processed/MIMIC.csv")

In [244]:
X = []

for i in range(len(mimic)):
    
    X_sample = []
    X_sample.append(mimic["AGE"][i])
    X_sample.append(mimic["GENDER"][i])
    X_sample.append(mimic["OBESITY"][i])
    X_sample.extend(mimic["Procedures_ICD9_Features"][i])
    X_sample.extend(mimic["Medication_NDC_Features"][i])
    X_sample.extend(mimic["Lab_Chart_Features"][i])
    X_sample = np.array(X_sample)
    
    X.append(X_sample)
    
X = np.array(X)
print(X.shape, X[0][0], X[1][0])
np.save('data/Processed/MIMIC_X.npy', X)

(1206, 744) 72 82